<% if current_user.user_is_admin? %>

  <h1>Add Tool to Library</h1>

  <div id="add_field">Add another field</div>
  <%= form_for @tool, url: add_tool_path do |f| %>
  <div id="input_field">
    <div>
      <%=f.text_field :name, placeholder: "Tool" %>
    </div>
  </div>
    <%=f.submit "Add to library" %>
  <% end %>


  <h1>Remove Tool from Library</h1>

  <% @tools.each do |tool| %>
    <%= tool.name %>
    <%= button_to "Remove", {:action => 'destroy', :id => tool.id, :available => tool.available }, :method => :delete %>
  <% end %>

<% else %>

  <h1>SORRY!</h1>
  <div>You must be a site administrator to add and remove tools.</div>

<% end %>
