<div ="profile_header">
  <%= image_tag( current_user.image, alt: " #{current_user.name}'s member image") %>
  <h3><%= current_user.name %>'s Profile</h3>
</div>

<div class="tools">
  Tools You've Checked Out:

    <% @tools.each do |t| %>
      <ul>
        <li><%= t.name %> &nbsp; <%= t.due_date %></li>
      </ul>
    <% end %>
</div>

<div class="events">
  Events
</div>

<% if current_user.user_is_admin? %>
  <div class="admin_tools">
    <%= link_to "Admin Tools", admin_path %>
  </div>
<% end %>
