<h1>Tools Library</h1>

<h2>Tools Currently Checked Out</h2>
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <td>Tool Name</td>
        <td>Due Back</td>
      </tr>
    </thead>
  <% @unavailable_tools.each do |unavailable_tool| %>
    <tbody>
      <tr>
        <td><%= unavailable_tool.name %></td>
        <td><%= format_time(unavailable_tool.due_date) %></td>
        <% if current_user && unavailable_tool.belongs_to_user?(current_user.id) %>
        <td><%= button_to "Return", { :action => 'check_in', :id => unavailable_tool.id },
        :method => :check_in, class: "btn btn-default round-button"  %></td>
      </tr>
    </tbody>
    <% end %>
  <% end %>
  </table>
</div>

<h2>Available Tools</h2>

<% @available_tools.each do |available_tool| %>
  <%= available_tool.name %>
  <%= button_to "Check Out", { :action => 'check_out', :id => available_tool.id },
  :method => :check_out, class: "btn btn-default round-button" %>
<% end %>
