<h1>Tools Library</h1>

<div class="center">
  <%= image_tag("garden-tools.png", height: "200px", alt:"Garden Tools") %>
</div>

<div class="table">
  <table class="table table-condensed">
    <thead>
      <tr>
        <td><strong>Currently Checked Out</strong></td>
        <td><strong>Due Back</strong></td>
      </tr>
    </thead>
  <% @unavailable_tools.each do |unavailable_tool| %>
    <tbody>
      <tr>
        <td><%= unavailable_tool.name %></td>
        <td><%= format_time(unavailable_tool.due_date) %></td>
        <% if current_user && unavailable_tool.belongs_to_user?(current_user.id) %>
        <td><%= button_to "Return", { :action => 'check_in', :id => unavailable_tool.id },
        :method => :check_in, class: "btn btn-default round-button"  %></td>
      </tr>
    </tbody>
    <% end %>
  <% end %>
  </table>
</div>

<h2>Available Tools</h2>

<div class="container">
  <% @available_tools.each do |available_tool| %>
    <%= button_to "#{available_tool.name}", { :action => 'check_out', :id => available_tool.id },
    :method => :check_out, class: "btn btn-default round-button" %>
  <% end %>
</div>
