<!DOCTYPE html>
<html>
<head>
  <title>Ada's Garden</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Halant:400,500,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag '/images/favicon.jpg' %>
  </head>
<body>
  <div class="container">
    <header>
      <div class="loginout">
        <% if current_user %>
        Signed in as <%= current_user.name %>
        <%=link_to "Sign out", signout_path %>
        <% else %>
        <%=link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
      </div>

    <nav class="navbar" role="navigation">
      <ul class="nav-pills navbar-right">
        <li> <%= link_to "Home", root_path %></li>
        <li> <%= link_to "News", news_path %></li>
        <li> <%= link_to "Calendar", calendar_path %></li>
        <li> <%= link_to "Tools", tools_path %></li>
        <li> <%= link_to "Profile", profile_path %></li>
      </ul>
    </nav>
  </header>

<%= flash[:notice] %>

<%= yield %>

</div>
</body>
</html>
