<!DOCTYPE html>
<html>
<head>
  <title>Ada's Garden</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="loginout">
      <% if current_user %>
      Signed in as <%= current_user.name %>
      <%=link_to "Sign out", signout_path %>
      <% else %>
      <%=link_to "Sign in with Twitter", "/auth/twitter" %>
      <% end %>
    </div>

  <nav class="navbar" role="navigation">
    <ul class="nav nav-pills navbar-right">
      <li> <%= link_to "Home", root_path %></li>
      <li> <%= link_to "News", news_path %></li>
      <li> <%= link_to "Events", events_path %></li>
      <li> <%= link_to "Tools", tools_path %></li>
      <li> <%= link_to "Profile", profile_path %></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>
